<!-- app.component.html: template for top-level component, with side nav. -->

<mat-sidenav-container (backdropClick)="uiService.maybeClose()">

  <mat-sidenav
    #sidenav
    mode="side"
    [opened]="true"
    disableClose="true"
    app-background-color light
    (click)="uiService.maybeClose()"
    (openedChange)="onSidenavOpenedChange($event)"
    >
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
