<!-- app/sidenav/sidenav.component.html: contents for sidenav -->

<mat-nav-list app-background-color-light>
  <div flex vertical>
    <a mat-list-item [routerLink]="['/users', 'home']" routerLinkActive="active-link" cdkFocusRegionStart>
      <span>Home</span>
    </a>

    <a mat-list-item [routerLink]="['/drivers', 'list']" routerLinkActive="active-link">
      <span>Drivers</span>
    </a>

    <a mat-list-item [routerLink]="['/events', 'list']" routerLinkActive="active-link">
      <span>Events</span>
    </a>

    <a mat-list-item [routerLink]="['/help']" routerLinkActive="active-link">
      <span>About</span>
    </a>

    <a mat-list-item (click)="onSignOut()" [class.disabled]="!(user$ | async)">
      <span>Sign out</span>
    </a>

    <a mat-list-item (click)="signUp()" *ngIf="!(user$ | async)" cdkFocusRegionEnd>
      <span>Sign up</span>
    </a>
  </div>
</mat-nav-list>
